<div class="testimonials">
    <h2>What Our Users Say</h2>
    <div class="testimonial">
        <p>"I love having all my favorite streaming services in one place! It's so convenient!"</p>
        <cite>- Alex J.</cite>
    </div>
    <div class="testimonial">
        <p>"The subscription options are fantastic! I can easily switch between services without hassle."</p>
        <cite>- Maria K.</cite>
    </div>
    <div class="testimonial">
        <p>"Great value for money! I saved a lot by bundling my subscriptions."</p>
        <cite>- John D.</cite>
    </div>
    <div class="testimonial">
        <p>"The user interface is so easy to navigate. Highly recommend!"</p>
        <cite>- Sarah L.</cite>
    </div>
</div>